@media screen and (max-width: 940px) {
  .h-wrap,
  .topbar{
    width:900px;
  }
  /*#slider{
    width:100%;
  }
  #image_container{
    max-width:100%;
    position: static;
  }*/
  .auto-stay{
    display: none;
  }
  .main-banner,
  .right-banners{
    float:none;
    margin: 0 auto;
    text-align: justify;
  }
  .right-banners::after{
    content:"";
    display: inline-block;
    width:100%;
  }
  .right-banners li{
    vertical-align: top;
  }
  .main-banner{
    /*width:100%;*/
    max-width: 720px;
  }
  .right-banners ul li{
    display: inline-block;
    background-color: #B13030;
  }
  img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
  }
  .video embed,
  .video object,
  .video iframe {
   width: 100%;
   height: auto;
}
}


@media screen and (max-width: 940px){
  .h-wrap, .main-banner, #slider, #image_container li, .top-nav{
    width:750px;
  }
  #slider{
    height:395px;
  }
  .topbar{
    display: none;
  }
  .logo {
    height: 30px;
  }
  .footer-copyright {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 780px){
  .h-wrap, .main-banner, #slider, #image_container li, .top-nav{
    width:95%;
    margin: 0 20px;
  }
  #slider{
    height:395px;
  }
}

@media screen and (max-width: 780px){
  .diller{
    display: none;
  }

}

@media screen and (max-width: 480px) {
  .cd-dropdown-trigger {
    display: none;
  }

  .hamburger {
    cursor: pointer;
    width: 28px;
    height: 21px;
    position: absolute;
    right:0;
    margin: 0 15px 15px 0;
  }

  .hamburger span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
  }

  .hamburger span:nth-child(1) {
    top: 0px;
  }
  .hamburger span:nth-child(2) {
    top: 8px;
  }
  .hamburger span:nth-child(3) {
    top: 16px;
  }

  .footer-copyright {
    font-size: 1rem;
  }
}
