.topbar .bx-context-toolbar-empty-area {
    float:left;
}
.button_3d {
	float:left;
	margin-top:6px;
	width:55px;
	height:55px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background:url("images/3d.png") no-repeat center center,
	linear-gradient(to top, #f3f3f2, #f3f3f2);
	
}
.button_3d div{
	width:55px;
	height:55px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background:url("images/3d.png") no-repeat center center,
	linear-gradient(to top, #f7b500, #f9c600);
	-webkit-transition:all 500ms linear;
    -moz-transition: all 500ms linear;
    -o-transition:all 500ms linear;
    -ms-transition: all 500ms linear;
    transition: all 500ms linear;
	opacity:0;
	
}
.button_3d:hover div{
	opacity:1;
}