.form-horizontal input,
.form-horizontal textarea
{
    width:285px;
}
.form-horizontal select
{
    width:300px;
}
.no_show
{
    display:none;
}
input[type=submit]
{
    width:139px;
}
.form-required 
{
	color: red;
}

.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}